<md-sidenav-container fxFlex="grow" class="example-container">
    <md-sidenav #sidenav class="sidenav">
        <ul class="nav-list">
            <li class="nav-item"><a routerLink="/course" routerLinkActive="active">Home</a></li>
            <li class="nav-item"><a routerLink="/api" routerLinkActive="active">Api</a></li>
            <li class="nav-item"><a routerLink="/about" routerLinkActive="active">About</a></li>
        </ul>
    </md-sidenav>
    <div class="page" fxFlex="grow" fxLayout="column">
        <md-toolbar color="primary">
            <button type="button" md-button (click)="sidenav.toggle()">
                <md-icon>menu</md-icon>
            </button>
            <span class="page-header">UQ Secat's</span>
            <div fxFlex="grow"></div>
            <span><a href="https://github.com/wisebaldone/uq-secat/" type="button" md-button><img
                    src="../assets/images/github-circle-white-transparent.svg" alt=""> GITHUB</a></span>
        </md-toolbar>
        <div class="content" fxFlex="grow" fxLayout="column">
            <router-outlet></router-outlet>
        </div>
        <footer>UQ Secat - Not affiliated with UQ.</footer>
    </div>
</md-sidenav-container>