<div class="courses-container">
  <md-autocomplete #auto="mdAutocomplete">
    <md-option *ngFor="let option of filteredOptions | async" [value]="option">
      {{ option }}
    </md-option>
  </md-autocomplete>
  <md-input-container style="color: white;">
    <input type="text" mdInput [(ngModel)]="courseInput" placeholder="Course Code" [formControl]="courseSelector" [mdAutocomplete]="auto">
  </md-input-container>
</div>
<course [courseName]="courseInput" fxFlex="grow" fxFlexAlign="center"></course>