<div class="secat-spacer"></div>
<table class="secat-enrolled">
    <tr>
        <th>Enrolled</th>
        <th>Responses</th>
        <th>Response Rate</th>
    </tr>
    <tr>
        <td>{{ secat.enrolled }}</td>
        <td>{{ secat.responses }}</td>
        <td [class.good]="ratingGood(secat.rate)" [class.bad]="ratingBad(secat.rate)" [class.neutral]="ratingNeutral(secat.rate)">{{ secat.rate }}</td>
    </tr>
</table>
<div class="secat-spacer"></div>
<table class="secat-questions">
    <tr>
        <th>Question</th>
        <th>Strong Disagree</th>
        <th>Disagree</th>
        <th>Neutral</th>
        <th>Agree</th>
        <th>Strong Agree</th>
    </tr>
    <tr *ngFor="let question of questions" [class.overall] ="lastQuestion(question)">
        <td class="secat-question">{{ question.description }}</td>
        <td [class.highest]="highestItem(question, question.strong_disagree.percent)">
            <span mdTooltip="{{ question.strong_disagree.value }} / {{ question.strong_disagree.total }}" mdTooltipPosition="after">
                {{ question.strong_disagree.percent }}%
            </span>
        </td>
        <td [class.highest]="highestItem(question, question.disagree.percent)">
            <span mdTooltip="{{ question.disagree.value }} / {{ question.disagree.total }}" mdTooltipPosition="after">
                {{ question.disagree.percent }}%
            </span>
        </td>
        <td [class.highest]="highestItem(question, question.neutral.percent)">
            <span mdTooltip="{{ question.neutral.value }} / {{ question.neutral.total }}" mdTooltipPosition="after">
                {{ question.neutral.percent }}%
            </span>
        </td>
        <td [class.highest]="highestItem(question, question.agree.percent)">
            <span mdTooltip="{{ question.agree.value }} / {{ question.agree.total }}" mdTooltipPosition="after">
                {{ question.agree.percent }}%
            </span>
        </td>
        <td [class.highest]="highestItem(question, question.strong_agree.percent)">
            <span mdTooltip="{{ question.strong_agree.value }} / {{ question.strong_agree.total }}" mdTooltipPosition="after">
                {{ question.strong_agree.percent }}%
            </span>
        </td>
    </tr>
</table>
<div class="secat-spacer"></div>
<div #graph id="graph"></div>