<div class="secat-spacer"></div>
<table class="secat-enrolled">
    <tr>
        <th>Enrolled</th>
        <th>Responses</th>
        <th>Response Rate</th>
    </tr>
    <tr>
        <td>{{ secat.enrolled }}</td>
        <td>{{ secat.responses }}</td>
        <td [class.good]="ratingGood(secat.rate)" [class.bad]="ratingBad(secat.rate)" [class.neutral]="ratingNeutral(secat.rate)">{{ secat.rate }}</td>
    </tr>
</table>
<div class="secat-spacer"></div>
<table class="secat-questions">
    <tr>
        <th>Question</th>
        <th>Strong Disagree</th>
        <th>Disagree</th>
        <th>Neutral</th>
        <th>Agree</th>
        <th>Strong Agree</th>
    </tr>
    <tr *ngFor="let question of questions" [class.overall] ="lastQuestion(question)">
        <td class="secat-question">{{ question.description }}</td>
        <td [class.highest]="highestItem(question, question.strong_disagree.percent)">{{ question.strong_disagree.percent }}%</td>
        <td [class.highest]="highestItem(question, question.disagree.percent)">{{ question.disagree.percent }}%</td>
        <td [class.highest]="highestItem(question, question.neutral.percent)">{{ question.neutral.percent }}%</td>
        <td [class.highest]="highestItem(question, question.agree.percent)">{{ question.agree.percent }}%</td>
        <td [class.highest]="highestItem(question, question.strong_agree.percent)">{{ question.strong_agree.percent }}%</td>
    </tr>
</table>
<div class="secat-spacer"></div>
<div #graph id="graph"></div>